       <header id="rs-header" class="rs-header">

            <!-- Header Menu Start -->
            <div class="menu-area rs-defult-header menu-sticky">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-3">
                            <div class="logo-area">
                                <a href="index"><img src="images/logo.png" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <div class="main-menu">
                                <a class="rs-menu-toggle"><i class="fa fa-bars"></i>{{toggleLabel lang}}</a>
                                <nav class="rs-menu">
                                     {{#menu lang}}
                                        {{/menu}}
                               </nav>
                            </div>
                             <div class="appointment-cart hidden-md">
                                {{!-- <ul class="cart">
                                    <li class="search"><a href="/en">EN</a></li>
                                    <li><a href="/fa">FA</a></li>
                                </ul> --}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Header Menu End -->

      
        </header>
